html {
   	font-smoothing: antialiased;
   	-webkit-font-smoothing: antialiased;
}

body {
	background: #eee;
	line-height: 1.5;
	font-family: monospace;
}

// REF - http://stackoverflow.com/questions/19099401/why-use-h1-instead-of-actual-h1