// Notifications (alerts)
.notification {
	border: 1px solid;
	padding: 10px;
	margin-bottom: $padding;
	border-radius: $br;
	@include clearfix;

	&.error {
		border-color: $c-bad;
		color: darken($c-bad, 15);
		background: lighten($c-bad, 35);
	}

	&.success {
		border-color: $c-good;
		color: darken($c-good, 10);
		background: lighten($c-good, 45);
	}

	&.warning {
		border-color: $c-warning;
		color: darken($c-warning, 10);
		background: lighten($c-warning,40);
	}

	&.info {
		border-color: $c-info;
		color: darken($c-info, 10);
		background: lighten($c-info, 48);
	}

	&.empty {
		text-align: center;
		background: #f4f4f4;
		border: 1px dashed $c-silver;
	}

	p:last-child {
		margin-bottom: 0;
	}
}