// 12 Column fluid and responsive grid

.container {
    max-width: $w-container;
    padding: 0 20px;
    margin: 0 auto;

    @include mobilefirst( 600px ) {
        padding: 0 percentage(40px / $w-container);
    }
}

// Add grid below depending on project - https://github.com/propcom/fe-bem-grid

.row {
    @include clearfix;
}

.col {
    float: left;

    &--last {
        @include mobilefirst( 600px ) {
            float: right;
        }
    }
}

// grid

.col {
    &--2-4 {
        @include mobilefirst( 600px ) {
            width: calc(100% / 2);
        }
    }

    &--1-4 {
        @include mobilefirst( 600px ) {
            width: calc(100% / 4);
        }
    }
}